{% extends 'blog/base.htm' %}

{% load static %}


{% block content %}


<div class="col-sm-10">
<h3 class="text-white my-5">About Page</h3>

<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ipsa natus inventore fugit officiis, distinctio libero assumenda eaque possimus corrupti quasi eius hic excepturi, culpa at! Obcaecati soluta aperiam nam?</p>

<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, unde minima eius fugiat delectus autem cumque mollitia placeat fuga omnis?</p>

</div>

{% endblock content %}

